//====================
// GENERAL COLORS
//====================
$white: #fff;
$gray-light: #d8d8d8;

//====================
// BRAND COLORS
//====================
$primary-color: #7477bf;
$secondary-color: #7377bf;
$active-color: #85db80;

//====================
// BACKGROUNDS COLORS
//====================
$dark-bg-color: #4d4c72;
$ligth-bg-color: #fbfbfb;

//====================
// BUTTONS COLORS
//====================
$btn-disable-color: #b2b2b2;

//====================
// CUSTOM FONTS
//====================
$font-nunito: 'Nunito', sans-serif !important;

//====================
// MEDIA QUERIES
//====================
$screen-sm: 768px;
$screen-l: 1100px;
$screen-xl: 1400px;
